img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
.page-id-7
  .eltdf-content
  .eltdf-content-inner
  > .eltdf-container
  > .eltdf-container-inner,
.page-id-7
  .eltdf-content
  .eltdf-content-inner
  > .eltdf-full-width
  > .eltdf-full-width-inner {
  padding: 0 0;
}
@media only screen and (max-width: 1024px) {
  .page-id-7
    .eltdf-content
    .eltdf-content-inner
    > .eltdf-container
    > .eltdf-container-inner,
  .page-id-7
    .eltdf-content
    .eltdf-content-inner
    > .eltdf-full-width
    > .eltdf-full-width-inner {
    padding: 0 0;
  }
}
.page-id-7
  .eltdf-content
  .eltdf-content-inner
  > .eltdf-container
  > .eltdf-container-inner,
.page-id-7
  .eltdf-content
  .eltdf-content-inner
  > .eltdf-full-width
  > .eltdf-full-width-inner {
  padding: 0 0;
}
@media only screen and (max-width: 1024px) {
  .page-id-7
    .eltdf-content
    .eltdf-content-inner
    > .eltdf-container
    > .eltdf-container-inner,
  .page-id-7
    .eltdf-content
    .eltdf-content-inner
    > .eltdf-full-width
    > .eltdf-full-width-inner {
    padding: 0 0;
  }
}
.eltdf-page-header .eltdf-header-widget-area-one:last-of-type {
  padding-right: 80px;
}
.page-id-7 .eltdf-page-header .eltdf-menu-area {
  background-color: rgba(0, 0, 0, 0);
}
.page-id-7 .eltdf-page-footer .eltdf-footer-top-holder {
  border-width: 0px;
}
.eltdf-header-double-grid-line-one,
.eltdf-header-double-grid-line-two {
  height: 110px;
}
.eltdf-footer-top-holder .widget_nav_menu ul li {
  display: inline-block !important;
}
.eltdf-google-map-holder .eltdf-google-map {
  color: initial;
}
.eltdf-main-home-delayed-image img {
  transition: 1.2s cubic-bezier(0.63, 0.25, 0.25, 1) 0.3s !important;
}

.eltdf-main-home-svg-pattern {
  clip-path: polygon(0 0, 100% 0, 100% 62%, 0 62%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 62%);
}

@media only screen and (max-width: 1440px) {
  .eltdf-main-home-middle-svg-pattern svg {
    transform: scale(0.84);
  }
}

@media only screen and (max-width: 1400px) {
  .eltdf-main-home-middle-svg-pattern svg {
    transform: scale(0.77);
  }
}

@media only screen and (max-width: 1366px) {
  .eltdf-main-home-middle-svg-pattern svg {
    transform: scale(0.76);
  }
}

@media only screen and (max-width: 1280px) {
  .eltdf-main-home-middle-svg-pattern svg {
    transform: scale(0.72);
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-main-home-middle-svg-pattern {
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }

  .eltdf-main-home-middle-svg-pattern svg {
    transform: scale(0.56);
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-main-home-middle-svg-pattern svg {
    transform: scale(0.43);
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-main-home-middle-svg-pattern svg {
    transform: scale(1);
  }
}
.vc_custom_1578664464836 {
  padding-top: 153px !important;
}
.vc_custom_1577721730223 {
  padding-top: 160px !important;
  padding-bottom: 160px !important;
}
.vc_custom_1577721733574 {
  padding-top: 150px !important;
  padding-bottom: 70px !important;
}
.vc_custom_1577721767438 {
  padding-top: 35px !important;
  padding-bottom: 160px !important;
}
.vc_custom_1577721744350 {
  padding-top: 160px !important;
  padding-bottom: 160px !important;
}
.vc_custom_1574159245515 {
  padding-top: 11.2% !important;
  padding-bottom: 11.2% !important;
}
.vc_custom_1573549706260 {
  padding-top: 150px !important;
  padding-bottom: 66px !important;
}
.vc_custom_1573574980934 {
  padding-bottom: 152px !important;
}
.vc_custom_1577182567213 {
  padding-top: 115px !important;
  padding-bottom: 110px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.vc_custom_1578912658047 {
  margin-top: -15% !important;
}
.vc_custom_1578664464836 {
  padding-top: 153px !important;
}
.vc_custom_1577721730223 {
  padding-top: 160px !important;
  padding-bottom: 160px !important;
}
.vc_custom_1577721733574 {
  padding-top: 150px !important;
  padding-bottom: 70px !important;
}
.vc_custom_1577721767438 {
  padding-top: 35px !important;
  padding-bottom: 160px !important;
}
.vc_custom_1577721744350 {
  padding-top: 160px !important;
  padding-bottom: 160px !important;
}
.vc_custom_1574159245515 {
  padding-top: 11.2% !important;
  padding-bottom: 11.2% !important;
}
.vc_custom_1573549706260 {
  padding-top: 150px !important;
  padding-bottom: 66px !important;
}
.vc_custom_1573574980934 {
  padding-bottom: 152px !important;
}
.vc_custom_1577182567213 {
  padding-top: 115px !important;
  padding-bottom: 110px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.vc_custom_1578912658047 {
  margin-top: -15% !important;
}
